body
{
    font-family: sans-serif;
    font-weight: lighter;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand
{
    height: 25px;
}
.navbar
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 6000;
}


#banner
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: #fff;
    padding-top: 1%;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
#foot p
{
    margin-top: auto;

}
/* --------- DYN-CONTENT ---------*/
/* --------- FOOTER ---------*/
.footer {
    background-image: linear-gradient(to right, var(--first), var(--second));
    color: var(--fourth);

    margin-top: auto;
}

.footer-box{
    padding: 20px;
}
/* --------- FOOTER ---------*/