  <section id="nav-bar">

  <nav class="navbar navbar-expand-lg navbar-light">
{#    {% block login %}{% include 'includes/sidebar.html' %}{% endblock %}#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'newspaper:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'newspaper:topic-list' %}">All topics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'newspaper:article-list' %}">All articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'newspaper:redactor-list' %}">Redactors</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>


  <ul class="sidebar-nav list-group">


  </ul>
  </section>