{% extends "base.html" %}


{% block content %}
  <h1>
    {{ article.title }}
  </h1>
    <a href="{% url 'newspaper:article-delete' pk=article.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'newspaper:article-update' pk=article.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  <p>
    {{ article.content }}
  </p>
  <br>
  <p>written  by
  {% for redactor in article.publishers.all %}
    <a href="{{ redactor.get_absolute_url }}"> {{ redactor.username }}</a>
  {% endfor %}
  </p>
  <br>
  <button>Button</button>
{% endblock %}