{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
       <h1>Articles List
    <a href="{% url 'newspaper:article-create' %}" class="btn btn-primary link-to-page">
      Add new article
    </a>
    </h1>

    {% if article_list %}
    <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-primary" type="submit" value="🔍">
    </form>
    <table class="table">
      <tr>
        <th>id</th>
        <th>article</th>
        <th>topic</th>
        <th>publisher</th>
      </tr>
      {% for article in article_list %}
        <tr>
          <td> {{ article.id }}</td>
          <td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a>  </td>
          <td> {{ article.topic }} </td>
          <td> {{ article.publishers }} </td>
        </tr>
      {% endfor %}

    </table>
    {% else %}
      <p>There are no topics on the site.</p>
    {% endif %}

  </div>

{% endblock %}