{% extends "base.html" %}

{% block content %}
    <h1>Redactors List
    </h1>

    {% if redactor_list %}
    <table class="table">
      <tr>
        <th>id</th>
        <th> name</th>
      </tr>
      {% for redactor in redactor_list %}
        <tr>
          <td> {{ redactor.id }}</td>
          <td> {{ redactor.first_name }} {{ redactor.last_name }} </td>
        </tr>
      {% endfor %}

    </table>
    {% else %}
      <p>There are no redactors on the site.</p>
    {% endif %}
{% endblock %}