{% extends "base.html" %}

{% block content %}
  <h1>
    Redactor`s name: {{ redactor.username }}
  </h1>

  <p><strong>First name:</strong> {{ redactor.first_name }}</p>
  <p><strong>Last name:</strong> {{ redactor.last_name }}</p>
  <p><strong>Years of experience:</strong> {{ redactor.years_of_experience }} years</p>

  <div class="ml-3">
    <h4>Articles:</h4>

    {% for article in redactor.articles.all %}
      <hr>
      <p><strong>Title:</strong><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></p>
      <p><strong>Topic:</strong> {{ article.topic.name }}</p>
      <p class="text-muted"><strong>Id:</strong> {{article.id}}</p>


    {% empty %}
      <p>No articles!</p>
    {% endfor %}
  </div>
{% endblock %}