{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>Redactors List
    </h1>

    {% if redactor_list %}
    <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-primary" type="submit" value="🔍">
    </form>
    <table class="table">
      <tr>
        <th>id</th>
        <th> name</th>
      </tr>
      {% for redactor in redactor_list %}
        <tr>
          <td> {{ redactor.id }}</td>
          <td><a href="{{ redactor.get_absolute_url }}" >{{ redactor.first_name }} {{ redactor.last_name }}</a></td>
        </tr>
      {% endfor %}

    </table>
    {% else %}
      <p>There are no redactors on the site.</p>
    {% endif %}
{% endblock %}