{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <h1>Topic List
    </h1>

    {% if topic_list %}
      <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-primary" type="submit" value="🔍">
      </form>
    <table class="table">
      <tr>
        <th>id</th>
        <th>Title</th>
      </tr>
      {% for topic in topic_list %}
        <tr>
          <td> {{ topic.id }}</td>
          <td> {{ topic.name }} </td>
        </tr>
      {% endfor %}

    </table>
    {% else %}
      <p>There are no topics on the site.</p>
    {% endif %}
  </div>

{% endblock %}